@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    @apply font-sans text-slate-800 antialiased;
    overflow-x: hidden;
    min-width: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@layer utilities {
  .container-padding {
    @apply px-4 sm:px-6 lg:px-8;
  }
}
